:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 



  scroll-behavior: smooth; 
  html::-webkit-scrollbar {
  display: none;
}
}

body {
  display: block; 
  min-height: 100vh;






  -ms-overflow-style: none;
  scrollbar-width: none;
}